* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'courier', monospace;
  letter-spacing: 1px;
}

h1 {
  margin: 30px;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 96vw;
  margin: 0 auto;
}

#board {
  display: inline-block;
  vertical-align: middle;
}

td {
  width: 15vw;
  height: 13vw;
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

#player1, #player2 {
  display: inline-block;
  width: 25vw;
  vertical-align: middle;
}

.icon {
  text-align: center;
  background-color: #BBB;
  color: white;
  width: 55px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
}

.win {
  text-align: center;
  padding: 20px;
  visibility: hidden;
}

#alert {
  margin-top: 20px;
  font-size: 12px;
  visibility: hidden;
  color: red;
}

#reset {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  border: solid 1px #BBB;
}

#reset:hover {
  /* color: red; */
  border-color: red;
}

.btm {
  text-align: center;
}

#flashcard {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
