* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'courier', monospace;
  letter-spacing: 1px;
  line-height: 22px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 99vw;
  margin: 0 auto;
  /* background-color: pink; */
}

#main {
  display: inline-block;
  width: 48vw;
  /* background-color: lightyellow; */
}

.setUp {
  padding: 50px 0;
  text-align: center;
  /* background-color: pink; */
}

.red {
  color: red;
}

.setUp button#assignP2 {
  display: none;
}

.setUp button#boardSetUp {
  display: none;
}

.setUp button {
  margin-top: 30px;
}

.boardSetUp {
  display: none;
}

.boardSetUp #lengthInput {
  display: block;
  margin: 30px auto 0;
  font-size: 12px;
  color: #BBB;
  padding: 15px;
  width: 60%;
}

.flashcard {
  display: none;
  text-align: center;
}

.flashcard h3 {
  margin: 40px;
  text-transform: uppercase;
}

.flashcard p {
  margin: 40px;
}

.flashcard .character {
  font-size: 50px;
  color: red;
  padding: 30px;
}

td {
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

#player1, #player2 {
  display: inline-block;
  width: 25vw;
  vertical-align: top;
  text-align: center;
  padding-top: 20px;
  /* background-color: lightblue; */
}

.icon {
  display: inline-block;
  text-align: center;
  background-color: #BBB;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
}

.icon p {
  line-height: 80px;
  color: white;
  visibility: hidden;
}

.win {
  text-align: center;
  padding: 20px 20px 0;
  visibility: hidden;
}

.cheat {
  visibility: hidden;
}

.btm {
  text-align: center;
  /* background-color: lightgreen; */
}

.alert {
  margin-top: 10px;
  font-size: 14px;
  visibility: hidden;
  color: red;
}

.reset {
  margin-top: 20px;
  visibility: hidden;
}

button {
  border: solid 2px #BBB;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
}

button:hover {
  border-color: red;
}

input:focus {
  outline: none;
}
