* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'courier', monospace;
  letter-spacing: 1px;
  line-height: 22px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 99vw;
  margin: 0 auto;
  /* background-color: pink; */
}

#main {
  display: inline-block;
  width: 48vw;
  /* background-color: lightyellow; */
}

.characterSetUp {
  margin: 50px 20px;
  text-align: center;
}

.flashcard {
  text-align: center;
}

.flashcard p {
  margin: 40px;
}

.flashcard p:nth-child(2) {
  font-size: 50px;
  color: red;
}

.createBoard {
  text-align: center;
  margin: 20px;
  display: none;
}

.radio {
  /* border: solid 1px black; */
  padding: 10px;
  text-align: left;
}

.createBoard p {
  margin-bottom: 20px;
}

.createBoard button {
  margin-top: 25px;
}

/* select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 15px;
  border: none;
} */

td {
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

#player1, #player2 {
  display: inline-block;
  width: 25vw;
  vertical-align: top;
  text-align: center;
  padding-top: 20px;
  /* background-color: lightblue; */
}

.icon {
  display: inline-block;
  text-align: center;
  background-color: #BBB;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
}

.icon p {
  line-height: 80px;
  color: white;
  visibility: hidden;
}

.win {
  text-align: center;
  padding: 20px;
  visibility: hidden;
}

.alert {
  margin-top: 20px;
  font-size: 14px;
  visibility: hidden;
  color: red;
}

.reset {
  margin-top: 20px;
  visibility: hidden;
}

.btm {
  text-align: center;
  /* background-color: lightgreen; */
}

button {
  border: solid 2px #BBB;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
}

button:hover {
  border-color: red;
}

/* #flashcard {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
} */
