* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'courier', monospace;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 20px;
}

h2 {
  /* margin: 20px 0; */
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

p {
  padding-bottom: 15px;
}

#container {
  width: 99vw;
  margin: 0 auto;
  margin-top: 30px;
}

#main {
  display: inline-block;
  width: 48vw;
}

/* GAME SETUP & FLASHCARD DIVS */

.startGame {
  text-align: center;
}

.startGame p {
  font-size: 14px;
}

.startGame p:first-of-type {
  padding-bottom: 25px;
}

.startGame input {
  display: block;
  width: 70%;
  border: solid 1px #BBB;
  padding: 12px;
  margin: 0 auto;
  font-size: 12px;
  color: #BBB;
  letter-spacing: 1px;
}

.startGame button {

}

.flashcard {
  display: none;
}

.boardSetUp {
  display: none;
}



.red {
  color: red;
}


/* .radio {
  padding-top: 10px;
  font-weight: 300;
}

.radio:first-of-type {
  margin-top: 15px;
}

.grey {
  color: #AAA;
} */

.flashcard {
  display: none;
  text-align: center;
}

.flashcard h3 {
  margin: 40px;
  text-transform: uppercase;
}

.flashcard p {
  margin: 40px;
}

.flashcard .character {
  font-size: 50px;
  color: red;
  padding: 30px;
}

td {
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

#human, #computer {
  display: inline-block;
  width: 25vw;
  vertical-align: top;
  text-align: center;
  visibility: hidden;
  /* background-color: lightblue; */
}

.icon {
  display: inline-block;
  text-align: center;
  background-color: #BBB;
  width: 80px;
  height: 80px;
  margin: 15px auto;
  border-radius: 50%;
}

.icon p {
  line-height: 80px;
  color: white;
}

.win {
  text-align: center;
  padding: 20px 20px 0;
  visibility: hidden;
}

.cheat {
  visibility: hidden;
}

.btm {
  text-align: center;
  /* background-color: lightgreen; */
}

.alert {
  margin-top: 10px;
  font-size: 14px;
  visibility: hidden;
  color: red;
}

.reset {
  margin-top: 20px;
  visibility: hidden;
}

button {
  border: solid 2px white;
  background-color: #BBB;
  color: white;
  padding: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 15px;
}

button:hover {
  border: solid 2px #BBB;
  background-color: white;
  color: #BBB;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
