* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'courier', monospace;
  letter-spacing: 1px;
}

h1 {
  margin: 30px;
  font-size: 20px;
}

h2 {
  margin: 20px 0;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

#container {
  width: 894px;
  margin: 0 auto;
  padding-top: 20px;
}

table {
  display: inline-block;
  vertical-align: middle;
}

td {
  width: 130px;
  height: 115px;
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

/* .r0 .c0, .r0 .c1, .r0 .c2 {
  border-top: none;
}

.r2 .c0, .r2 .c1, .r2 .c2  {
  border-bottom: none;
}

.c0 {
  border-left: none;
}

.c2 {
  border-right: none;
} */


#player1, #player2 {
  display: inline-block;
  width: 250px;
  vertical-align: middle;
}

.symbol {
  text-align: center;
  background-color: #BBB;
  color: white;
  width: 55px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
}
