* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: courier, monospace;
  font-size: 16px;
  line-height: 1.6em;
  margin: 1.5em 0.5em;
  text-align: center;
}

h1 {
  font-size: 1.1em;
}

p {
  font-size: 0.9em;
}

.red {
  color: red;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-column-gap: 0.6em;
  margin: 1.5em 0;
}

.assign-char-p2-instructions, .board-setup, .flashcard, .reset-draw-message, .cheat {
  display: none;
}

.icon {
  background-color: #BBB;
  width: 80px;
  height: 80px;
  margin: 1em auto;
  border-radius: 50%;
}

.icon p {
  line-height: 80px;
  color: white;
  visibility: hidden;
}

.win {
  visibility: hidden;
}

table {
  margin: 0 auto;
}

td {
  border: solid 2px black;
  text-align: center;
  vertical-align: middle;
}

.flashcard h3 {
  text-transform: uppercase;
  padding-bottom: 1.5em;
}

.flashcard p {
}

.flashcard .character {
  font-size: 3em;
  color: red;
  padding: 1.8em;
}

.draw-message {
  font-size: 0.9em;
  visibility: hidden;
  color: red;
}

button {
  border: solid 2px #BBB;
  background-color: white;
  padding: 0.9em;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin-top: 25px;
}

button:hover {
  border-color: red;
}

#length-input {
  display: block;
  margin: 35px auto 0;
  font-size: 0.8em;
  color: #BBB;
  background-color: white;
  width: 60%;
  height: 38px;
}

input:focus, button:focus, select:focus {
  outline: none;
}
